/* navbar */
#mobile-header {
  background: linear-gradient(135deg, #d3d3d355 25%, transparent 25%) -39px 0/ 78px 78px, linear-gradient(225deg, #d3d3d3 25%, transparent 25%) -39px 0/ 78px 78px, linear-gradient(315deg, #d3d3d553 25%, transparent 25%) 0 0/ 78px 78px, linear-gradient(45deg, #d3d3d3 25%, #fff 25%) 0 0/ 78px 78px;
}

/* Welcome */
#welcome {
  width: 90%;
}

.welcome-main-title {
  font-weight: 1000;
  font-size: 45px;
  padding-bottom: 15px;
}

.welcome-contact {
  width: 70%;
}

@media only screen and (min-width: 768px) {
  .welcome-main-title {
    width: 60%;
  }

  #main-description {
    width: 90%;
  }
}

/* Conference Topic */
.conf-topic {
  width: 90%;
}

.conf-topic-description {
  font-size: 20px;
}

.ocaml-logo {
  width: 125px;
  height: 125px;
}

.logo-line-1 {
  font-size: 40px;
  line-height: 42px;
}

.logo-line-2 {
  font-size: 32px;
  line-height: 34px;
}

.logo-year {
  font-size: 26px;
}

.logo-at {
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .conference-logo {
    width: 60%;
  }

  .conf-topic-description {
    font-size: 16px;
  }
}

/* Previous Conferences */
.prev-conf-container {
  width: 80%;
  padding: 50px 0;
}

.conf-red-background {
  background-color: #cc0c0c;
  background-position-x: 0%;
  background-position-y: 0%;
  background-position: 0 0;
  bottom: 0;
  left: 0;
  mix-blend-mode: darken;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.prev-conf-text {
  z-index: 100;
}

.prev-conf-year {
  font-size: 40px;
}
